# Files built by Visual Studio
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebugPublic/
# Build results
Engine/[Bb]in/
Engine/[Oo]bj/
BusinessRulesEngineConsoleApp/[Dd]ebug/
BusinessRulesEngineConsoleApp/[Rr]elease/
BusinessRulesEngineConsoleApp/[Rr]eleases/
BusinessRulesEngineConsoleApp/x64/
BusinessRulesEngineConsoleApp/x86/
BusinessRulesEngineConsoleApp/[Aa][Rr][Mm]/
BusinessRulesEngineConsoleApp/[Aa][Rr][Mm]64/
BusinessRulesEngineConsoleApp/[Bb]in/
BusinessRulesEngineConsoleApp/[Oo]bj/
BusinessRulesEngineConsoleApp/[Ll]og/