<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\temp\RulesEngine.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=" yyyy-MM-dd.lo'g'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="4" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yy-MM-dd HH:mm:ss,fff}] %m%n" />
      </layout>
    </appender>
    <!-- Root is the only logger. -->
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="RawOdsDbContext" connectionString="data source=localhost;initial catalog=EdFi_Ods_{0};integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RulesFileFolder" value="C:\Projects\KleinISD-EdFi\BusinessRulesEngineConsoleApp\BusinessRulesEngineConsoleApp\Rules" />
    <add key="RulesEngineResultsSchema" value="rules" />
    <add key="UseFakeViewModelData" value="false" />
    <add key="ReportDirectory" value="C:\temp" />
    <add key="EmailAddress" value="sys_doubleline@kleinisd.net" />
    <add key="EmailPassword" value="emp+yShip36" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>